*{
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.title{
    padding-left: 2%;
}

.title h1{
    font-family:"Open Sans", sans-serif;
    color: #fff;
    font-size: 24px;
}

.title h3{
    font-family:"Open Sans", sans-serif;
    color: #fff;
    font-size: 15px;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 100px;
    height: 100px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    font-family: "Open Sans", sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #399fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    font-family:"Open Sans", sans-serif;
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 18px;
    font-weight: 600;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #399fff;
    background: #399fff;
    transition: 0.5s;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .title{
        padding-left: 2%;
    }
    
    .title h1{
        font-family:"Open Sans", sans-serif;
        color: #fff;
        font-size: 12px;
    }
    
    .title h3{
        font-family:"Open Sans", sans-serif;
        color: #fff;
        font-size: 10px;
    }

    .text-box h1{
        font-size: 20px;
    }

    .text-box p{
        font-size: 12px;
    }

    nav img{
        width: 80px;
        height: 80px;
    }

    .nav-links ul li{
        display: block;
    }

    .nav-links{
        position: absolute;
        background: #399fff;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul{
        padding: 30px;
    }
}

/*---- course ----*/

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 3%;
    display: flex;
    justify-content: space-evenly;
}

.course-col{
    flex-basis: 31%;
    background: #e3f0f7;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.course-col h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 81, 255, 0.5);
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*-----facilities----*/
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.facilities-col p{
    padding: 0;
}

.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/*-----testimonials-------*/


.testimonials{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.testimonials-col{
    flex-basis: 40%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #e3f0f7;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.testimonials-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.testimonials-col h3{
    font-weight: 600;
    text-align: left;
}

.testimonials-col p{
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    padding: 0px;
}

.testimonials-col .fa{
    color: #399fff;
}

@media (max-width: 700px){
    .testimonials-col img{
        margin-left: 0px;
        margin-right: 15px;
    }
}

/*----Call to Action----*/
.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

.cta h2{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

/* ----footer---- */

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h3{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa{
    color: #399fff;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;

}

@media (max-width: 700px){
    .cta h1{
        font-size: 24px;
    }
    
    .footer h3{
        font-size: 15px;
    }
    
    .icons .fa{
        font-size: 10px;
    }
}

